
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <%if session[:username] == nil%>
            <li role="presentation"><a href="/auth/twitter">Sign In with Twitter</a></li>
            <% else %>
            <li role="presentation"><a>Logged in As <%=session[:username]%></a></li>
            <% end %>
            <li role="presentation"><a href="/">Dashboard</a></li>
            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Recent Tweet</h3>
      </div>
    
    <div class="jumbotron">

    <h1>Twitter ID : <%=@user.username%></h1>
    <p>Recent 10 Tweets of : <%=@user.username%></p><br>
      <% if !@errors.nil?%>
        <% @errors.each do |error| %>
          <%= error%>
        <%end%>
      <% end %>
    
      <%@tweets.each do |tweet|%>
      <p><%=tweet.tweet_text%></p>
      <%end%>
    
    </div>

  </div> <!-- /container -->
</div>